.footer {
  @media (min-width: @width-tablet) {
    max-width: @width-tablet-only;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px 30px;
  }
  @media (min-width: @width-desktop) {
    max-width: @width-desktop;
    padding: 0 40px;
    padding-top: 35px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: @width-mobile-only) {
    padding: 18px 20px 20px;
    border-bottom: 1px solid @color-base-secondary;
  }
  @media (min-width: @width-tablet) {
    grid-column: 1 / -1;
  }
  @media (min-width: @width-desktop) {
    grid-column: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding-top: 5px;
  }
}

.footer__group {
  display: flex;
  flex-direction: column;
  gap: 3px;
  @media (max-width: @width-mobile-only) {
    padding: 6px 20px 28px;
    border-bottom: 1px solid @color-base-secondary;
  }
}

.footer__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 50px;
  @media (max-width: @width-tablet-only) {
    display: none;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: @color-base-primary;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.footer__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.footer__address,
.footer__phone {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  gap: 5px;
}

.footer__icon {
  flex-shrink: 0;
  color: @color-base-primary;
}

.footer__copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding: 15px 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  @media (min-width: @width-tablet) {
    grid-column: 1 / -1;
    padding: 22px 0 40px;
  }
  @media (min-width: @width-desktop) {
    padding: 12px 0 40px;
  }
}

.footer__copyright-link {
  display: flex;
  align-items: center;
  gap: 5px;
  &:hover {
    color: @color-base-primary;
  }
  &:active {
    color: @color-primary-darker;
  }
}
